* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  text-align: center;
}

#Coin {
    animation: movedown 0.5s linear forwards;
    /* transform: translateX(5px) */
}

#Rectangle2 {
    animation: smile 0.5s linear 1s forwards;
}

#Pig {
    transform-origin: center;
    transform-box: fill-box;
    animation: size 0.2s linear 0.5s forwards;
}

@keyframes movedown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(150px);
  }
}

@keyframes smile {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(-50px);
    }
  }

@keyframes size {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(1.2);
    }

    100% {
        transform: scaleX(1);
    }
}
